* {
    scroll-behavior: smooth;
}




@media screen and (max-width: 767px) {
    .togmenu {
        margin-top: 7rem;
        box-shadow: 0 10px 40px hsla(0, 0%, 0%, 0.1);
        background-color: hsl(0, 0%, 100%);
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: 2rem;
        position: absolute;
        left: 0;
        right: 0;
    }

    .togmenu::before {
        content: "";
        position: absolute;
        top: -19px;
        right: -20px;
        border: 20px solid transparent;        
        border-left-color: white;
        transform: rotate(45deg);
    }



    li {
        padding-top: 2rem;
        color: hsl(213, 9%, 39%);
    }

    li .contact {
        background-color: hsl(51, 100%, 49%);
    }

}

@media screen and (max-width: 320px) {   

    #heading{
        font-size: 2.1em;
    }

    
}